<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="Info"
  :content-inset-level="0.5"
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        Scheduler Manager: Make and manage events on LNBits
      </h5>
      <p>
        To help developers use LNbits to manage automated tasks, the scheduler
        extension allows the creation and management of processes via crontabs.<br />
        <small>
          Created by,
          <a class="text-secondary" href="https://github.com/bitkarrot"
            >Bitkarrot</a
          ></small
        >
      </p>
    </q-card-section>
  </q-card>
</q-expansion-item>
<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="API info"
  :content-inset-level="0.5"
>
  <q-btn flat label="Swagger API" type="a" href="../docs#/scheduler"></q-btn>

  <q-card>
    &nbsp;
  </q-card>
  
  </q-expansion-item>
</q-expansion-item>
