{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('scheduler/static', path='js/index.js') }}"></script>
{% endblock %} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="jobDialog.show = true"
          >New Scheduled Job</q-btn
        >
        <q-btn unelevated color="primary" @click="logDialog.show = true">
          View All Logs
        </q-btn>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Scheduled Jobs List</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportJobsCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="jobs"
          row-key="id"
          :columns="jobsTable.columns"
          v-model:pagination="jobsTable.pagination"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                v-text="col.label"
              ></q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  v-if="jobStatus.show === false"
                  dense
                  size="xs"
                  @click="toggleButton(props.row.id)"
                  :icon="getButtonIcon(props.row.id)"
                  :color="getButtonColor(props.row.id)"
                >
                  <q-tooltip
                    ><span v-text="getButtonText(props.row.id)"></span
                  ></q-tooltip>
                </q-btn>

                <q-btn
                  dense
                  size="xs"
                  @click="openJobUpdateDialog(props.row.id)"
                  icon="edit"
                  color="blue"
                >
                  <q-tooltip>Edit</q-tooltip>
                </q-btn>

                <q-btn
                  dense
                  size="xs"
                  @click="openTestlogDialog(props.row.id)"
                  icon="check"
                  color="orange"
                >
                  <q-tooltip>Test the Job Setting</q-tooltip>
                </q-btn>

                <q-btn
                  dense
                  size="xs"
                  @click="openLogDialog(props.row.id)"
                  icon="info"
                  color="grey"
                >
                  <q-tooltip>Log Details for this Job</q-tooltip>
                </q-btn>
              </q-td>

              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                v-text="col.value"
              ></q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteJob(props.row.id)"
                  icon="cancel"
                  color="pink"
                  ><q-tooltip>Delete</q-tooltip>
                </q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Scheduler Extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "scheduler/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="testlogDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 800px; height: 600px">
      <q-card>
        <h5 class="text-subtitle1 q-my-none">
          Check your details are right with a test run
        </h5>
        <b> Current Job ID: <span v-text="id_code"></span></b>
      </q-card>
      <q-card class="q-pa-md">
        <q-btn
          unelevated
          color="secondary"
          @click="displayTestJobData(id_code)"
        >
          Test Run
        </q-btn>
        <q-btn
          @click="clearTestDialog"
          v-close-popup
          flat
          color="grey"
          class="q-ml-auto"
          >Close</q-btn
        >
      </q-card>
      <q-card>
        <q-input
          filled
          v-model.trim="testlogData"
          label="test log content"
          type="textarea"
          rows="15"
        />
      </q-card>
      <q-card class="q-pa-md">
        <q-card class="q-pa-md">
          <p>
            If you need more detail on error conditions, visit "View All Logs".
            This file can also be found at
            ~/lnbits/lnbits/extensions/scheduler/test_run_job.log
          </p>
        </q-card>
      </q-card>
    </q-card>
  </q-dialog>

  <q-dialog v-model="logDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 800px; height: 600px">
      <q-card>
        <h5 class="text-subtitle1 q-my-none">
          Scheduler.log (last 1000 lines)
        </h5>
        <p>
          This file can also be found at
          ~/lnbits/lnbits/extensions/scheduler/scheduler.log
        </p>
      </q-card>
      <q-card class="q-pa-md">
        <q-btn unelevated color="primary" @click="displayFileData">
          Fetch data
        </q-btn>
        <q-btn
          @click="clearLogDialog"
          v-close-popup
          flat
          color="grey"
          class="q-ml-auto"
          >Close</q-btn
        >
      </q-card>

      <q-card>
        <q-input
          filled
          v-model.trim="fileData"
          label="logfile content"
          type="textarea"
          rows="20"
        />
      </q-card>
      <q-card class="q-pa-md">
        <q-btn unelevated color="red" @click="deleteLog" class="q-ml-auto">
          Delete File Log
        </q-btn>
      </q-card>
    </q-card>
  </q-dialog>

  <q-dialog v-model="jobLogDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 800px; height: 600px">
      <q-card>
        <h5 class="text-subtitle1 q-my-none">
          Individual Job Log: <span v-text="id_code"></span>
        </h5>
      </q-card>
      <q-card class="q-pa-md">
        <q-btn unelevated color="primary" @click="fetchJobLogDialog">
          Fetch data
        </q-btn>
        <q-btn
          @click="clearJobLogDialog"
          unelevated
          color="secondary"
          class="q-ml-auto"
          >Clear</q-btn
        >
        <q-btn
          @click="closeJobLogDialog"
          v-close-popup
          flat
          color="grey"
          class="q-ml-auto"
          >Close</q-btn
        >
      </q-card>

      <q-card>
        <q-input
          filled
          v-model.trim="output"
          label="logfile content"
          type="textarea"
          rows="20"
        />
      </q-card>
      <q-card class="q-pa-md"> </q-card>
    </q-card>
  </q-dialog>

  <q-dialog v-model="jobDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 800px">
      <q-form @submit="sendJobFormData" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="jobDialog.data.name"
          label="Job Name *"
        ></q-input>
        <div class="row">
          <div style="width: 20%">
            <q-select
              v-model.trim="jobDialog.data.selectedverb"
              :options="httpVerbs"
              dense
              filled
            />
          </div>
          <div style="width: 80%">
            <q-input
              filled
              dense
              v-model.trim="jobDialog.data.url"
              label="URL *"
            />
          </div>
        </div>

        <q-card class="q-pa-md">
          <h5 class="text-subtitle1 q-my-none">Headers</h5>
          <p style="color: #bcb7b7">
            Example: "X-Api-Key: 0b2569190e2f4bfc90a7ae25aa194518"
            <br />
          </p>
          <q-list bordered separator>
            <q-item
              clickable
              v-ripple
              v-for="(item, index) in jobDialog.headers"
              :key="index"
            >
              <q-item-section>
                <q-input
                  filled
                  dense
                  label="Key"
                  placeholder="Content-type"
                  v-model="jobDialog.headers[index].key"
                ></q-input>
              </q-item-section>
              <q-item-section>
                <q-input
                  filled
                  dense
                  label="Value"
                  placeholder="application/json"
                  v-model="jobDialog.headers[index].value"
                ></q-input>
              </q-item-section>
              <q-item-section side>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="jobDialog.headers.splice(index, 1)"
                ></q-btn>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
              <q-btn flat icon="add" @click="jobDialog.headers.push({})">
                Add Header Entry
              </q-btn>
            </q-item>
          </q-list>
        </q-card>

        <q-card class="q-pa-md">
          <h5 class="text-subtitle1 q-my-none">Body</h5>
          <q-input
            filled
            dense
            style="width: 100%"
            v-model.trim="jobDialog.data.body"
            label='Example: {"out": true, "bolt11": <string>}'
            type="textarea"
            rows="6"
          />
        </q-card>

        <q-card class="q-pa-md">
          <h5 class="text-subtitle1 q-my-none">Schedule *</h5>
          <p>
            Visit
            <a
              class="text-secondary"
              href="https://crontab.guru"
              target="_blank"
              >https://crontab.guru</a
            >
            for expression help.
          </p>
          <q-tr>
            <q-td v-for="slot in slots" :key="slot" class="text-center">
              <q-input v-model="cron[slot]" :label="slot" dense filled />
            </q-td>
          </q-tr>
        </q-card>

        <q-input
          filled
          dense
          disable
          v-model.trim="jobDialog.data.schedule"
          label="schedule"
        ></q-input>

        <q-btn unelevated color="primary" type="submit">Submit</q-btn>
        <q-btn
          @click="cancelEdit"
          v-close-popup
          flat
          color="grey"
          class="q-ml-auto"
          >Cancel</q-btn
        >
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %}
